footer {
	width: 100%;
	padding: 5%;
	background-color: darken($colour-grey, 55%);
	color: $colour-white;
	.footer {
		&__logo {
            font: 1.3em "Shrikhand";
			padding-bottom: 5%;
		}
		&__li {
			@include flexposition(flex-start, flex-start, left, row nowrap);
            padding-bottom: 10px;
		}
        &__li--bold {
        font-weight: bold;
        position: absolute;
        left: 12%;
        }
	}
}
