/* REMPLISSAGE COEURS */

.restaurants__carte__heading .fa-heart,
.menu__details .fa-heart {
	font-size: 25px;
	color: $colour-grey;
	position: absolute;
	right: 30px;
	&.--full {
		opacity: 0;
		transform: scale(0.1, 0.1);
		background: $colour-gradient;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: opacity 800ms cubic-bezier(0.5, -0.3, 0.9, 1.2),
			transform 1.5s 100ms cubic-bezier(0.5, -0.3, 0.9, 1.2);
		transform-origin: bottom;
	}
	/*c'est le hover sur l'empty qui déclenche la transition du full*/
	&.--empty {
		&:hover {
			+ .--full {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

/* SELECTION PLATS */

#checked {
	@include flexposition;
	width: 60px;
	height: inherit;
	border-radius: 0 20px 20px 0;
	background-color: $colour-tertiary;
	color: $colour-white;
	position: relative;
	transform: scaleX(0);
	transform-origin: 100%;
	opacity: 0;
	& > .fa-check-circle {
		background-color: $colour-tertiary;
		color: $colour-white;
	}
}
.menu__details__dishes {
	&:hover,
	&:active {
		& h3,
		p {
			max-width: 70%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		& strong {
			right: 90px;
			transition: right 1s cubic-bezier(0.5, -0.3, 0.9, 1.2);
		}
		& #checked {
			transform: scaleX(1);
			transition: transform 1s cubic-bezier(0.5, -0.3, 0.9, 1.2);
			opacity: 1;
			& > .fa-check-circle {
				transform: rotate(-360deg);
				transition: transform 0.9s 0.4s ease-in-out;
			}
		}
	}
}
