#checked {
	@include flexposition;
	width: 60px;
	height: inherit;
	border-radius: 0 20px 20px 0;
	background-color: $colour-tertiary;
	color: $colour-white;
	position: relative;
	transform: scaleX(0);
	transform-origin: 100%;
	opacity: 0;
	& > .fa-check-circle {
		background-color: $colour-tertiary;
		color: $colour-white;
	}
}
.menu__details__dishes {
	&:hover,
	&:active {
		& h3,
		p {
			max-width: 70%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		& strong {
			right: 90px;
			transition: right 1s cubic-bezier(0.5, -0.3, 0.9, 1.2);
		}
		& #checked {
			transform: scaleX(1);
			transition: transform 1s cubic-bezier(0.5, -0.3, 0.9, 1.2);
			opacity: 1;
			& > .fa-check-circle {
				transform: rotate(-360deg);
				transition: transform 0.9s 0.4s ease-in-out;
			}
		}
	}
}
