.btn {
	width: 220px;
	height: 50px;
	border: none;
	border-radius: 30px;
	background: linear-gradient(
		to bottom right,
		$colour-secondary,
		$colour-primary
	);
	color: $colour-white;
	box-shadow: 0px 7px 7px $colour-grey;
	font-weight: bold;
}
.fonctionne {
	@include flexposition(space-around, flex-start, center, column nowrap);
	height: 290px;
	margin: 5%;
	&__btn {
		@include flexposition(flex-start, center, center, row nowrap);
		width: 100%;
		height: 50px;
		border: none;
		border-radius: 30px;
		box-shadow: 0px 7px 7px $colour-grey;
		background-color: lighten($colour-grey, 12%);
		& i {
			color: darken($colour-grey, 25%);
		}
		& h4 {
			position: absolute;
			left: 20%;
		}
		&:hover {
			background-color: lighten($colour-primary, 30%);
			cursor: pointer;
			& i {
				color: $colour-primary;
			}
		}
		span {
			width: 5%;
			height: auto;
			position: relative;
			left: -3%;
			border-radius: 20px;
			background-color: $colour-primary;
			color: $colour-white;
			font-size: 0.8em;
		}
	}
	&__heading {
		@include flexposition(left, flex-start, row nowrap);
	}
}
