.btn {
	width: 220px;
	height: 50px;
	border: none;
	border-radius: 30px;
	background: $colour-gradient;
	color: $colour-white;
	box-shadow: 0px 7px 7px $colour-grey;
	font-weight: bold;
	&:hover,
	&:active {
		opacity: 0.8;
		box-shadow: 0px 10px 10px darken($colour-grey, 40%);
		cursor: pointer;
	}
}
.fonctionne {
	@include flexposition(space-around, flex-start, center, column nowrap);
	height: 290px;
	margin: 5%;
	&__btn {
		@include flexposition(flex-start, center, center, row nowrap);
		position: relative; /*conditionne position i h & span*/
		width: 100%;
		height: 50px;
		border: none;
		border-radius: 30px;
		box-shadow: 0px 7px 7px $colour-grey;
		background-color: lighten($colour-grey, 12%);
		& i {
			position: absolute;
			left: 30px;
			color: darken($colour-grey, 25%);
		}
		& h4 {
			position: absolute; /*alignement des titres malgré icones*/
			left: 70px;
		}
		&:hover,
		&:active {
			background-color: lighten($colour-primary, 30%);
			cursor: pointer;
			& i {
				color: $colour-primary;
			}
		}
		span {
			width: 20px;
			height: 20px;
			position: absolute;
			left: -10px;
			border-radius: 20px;
			background-color: $colour-primary;
			color: $colour-white;
			text-align: center;
		}
	}
	&__heading {
		@include flexposition(left, flex-start, row nowrap);
	}
}
.restaurants__carte__heading i {
	font-size: 25px;
	position: absolute;
	right: 30px;

	/*&.--empty {
		opacity: 1;
		&:hover,
		&:active {
			opacity: 0;
		}
	}*/

	&.--full {
		opacity: 0;
		&:hover,
		&:active {
			color: violet;
			opacity: 1;
			transform-origin: bottom;
			transition: opacity 2s cubic-bezier(0.55, 0.75, 0.55, 0.35);

			/*background: linear-gradient(
				to top left,
				$colour-primary,
				$colour-secondary
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;*/
		}
	}
	/*
	&::after {
		color: $colour-primary;
		opacity: 0;
		
	}*/
}
