/*.loader {
    @include flexposition;
    z-index: 9;
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    cursor: wait;
    &.__1 {
        font: "shrikhand" 3em bold;
        color: $colour-primary;
        animation: loading 1s 200ms ease-in-out backwards;
    }
    &.__2 {
        font: 3em "shrikhand";
        color: $colour-secondary;
        animation: loading 1s 400ms ease-in-out backwards;
    }
    &.__3 {
        font: 3em "shrikhand";
        color: $colour-tertiary;
        animation: loading 1s 600ms ease-in-out backwards;
    }
}

@keyframes loading {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        visibility: collapse;
    
    }
}*/

.loader {
	@include flexposition(center);
	z-index: 9;
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	cursor: wait;
	font-family: "Shrikhand";
	text-shadow: 0 0 $colour-grey, 11ch 0 $colour-primary,
		22ch 0 $colour-secondary, 33ch 0 $colour-tertiary, 44ch 0 $colour-grey;
	animation: loading 4s;
}
@keyframes loading {
	25% {
		opacity: 1;
		visibility: visible;
		text-shadow: -11ch 0 $colour-grey, 0ch 0 $colour-primary,
			11ch 0 $colour-secondary, 22ch 0 $colour-tertiary, 33ch 0 $colour-grey;
	}
	50% {
		opacity: 1;
		visibility: visible;
		text-shadow: -22ch 0 $colour-grey, -11ch 0 $colour-primary,
			0ch 0 $colour-secondary, 11ch 0 $colour-tertiary, 22ch 0 $colour-grey;
	}
	75% {
		opacity: 1;
		visibility: visible;
		text-shadow: -33ch 0 $colour-grey, -22ch 0 $colour-primary,
			-11ch 0 $colour-secondary, 0ch 0 $colour-tertiary, 11ch 0 $colour-grey;
	}
	90% {
		visibility: visible;
		text-shadow: -44ch 0 $colour-grey, -33ch 0 $colour-primary,
			-22ch 0 $colour-secondary, -11ch 0 $colour-tertiary, 0ch 0 $colour-grey;
	}
	100% {
		opacity: 0;
	}
}
