/* loader chargement index.html */
.loader {
	@include flexposition(center);
	z-index: 9;
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	cursor: wait;
	& span {
		font: 1em "Shrikhand";
	}
	text-shadow: 0 0 $colour-grey, 4em 0 $colour-primary, 8em 0 $colour-secondary,
		12em 0 $colour-tertiary, 16em 0 $colour-grey;
	animation: loading 5s 1s both;
}
@keyframes loading {
	0% {
		opacity: 1;
		visibility: visible;
		text-shadow: -8em 0 $colour-grey, -4em 0 $colour-primary,
			0em 0 $colour-secondary, 4em 0 $colour-tertiary, 8em 0 $colour-grey;
	}
	25% {
		opacity: 1;
		visibility: visible;

		text-shadow: -2em 0 $colour-grey, 0em 0 $colour-primary,
			2em 0 $colour-secondary, 4em 0 $colour-tertiary, 6em 0 $colour-grey;
	}
	50% {
		opacity: 1;
		visibility: visible;

		text-shadow: -4em 0 $colour-grey, -2em 0 $colour-primary,
			0em 0 $colour-secondary, 2em 0 $colour-tertiary, 4em 0 $colour-grey;
	}
	75% {
		opacity: 1;
		visibility: visible;

		text-shadow: -6em 0 $colour-grey, -4em 0 $colour-primary,
			-2em 0 $colour-secondary, 0em 0 $colour-tertiary, 2em 0 $colour-grey;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		text-shadow: -8em 0 $colour-grey, -4em 0 $colour-primary,
			0em 0 $colour-secondary, 4em 0 $colour-tertiary, 8em 0 $colour-grey;
	}
}
