@mixin flexposition($flexjustify: space-around, $flexalign: center, $textposition: center, $flexflow: column wrap) {
	display: flex;
	justify-content: $flexjustify;
	align-items: $flexalign;
	text-align: $textposition;
	flex-flow: $flexflow;
}
