@mixin flexposition($flexposition: center, $textposition: center) {
	display: flex;
	justify-content: space-around;
	align-items: $flexposition;
	flex-flow: column wrap;
	text-align: $textposition;
}
