/* MIXINS */

@mixin flexposition(
	$flexjustify: space-around,
	$flexalign: center,
	$textposition: center,
	$flexflow: column wrap
) {
	display: flex;
	justify-content: $flexjustify;
	align-items: $flexalign;
	text-align: $textposition;
	flex-flow: $flexflow;
}

@mixin light-grey($rate: 12%) {
	background-color: lighten($colour-grey, $rate);
}
@mixin dark-grey($rate: 40%) {
	background-color: darken($colour-grey, $rate);
}

	/* MEDIA QUERIES */

@mixin mobile {
	@media (max-width: 370px) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1100px) {
		@content;
	}
}
@mixin big-desktop {
	@media (min-width: 1500px) {
		@content;
	}
}
